.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 2rem 9%;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  font-weight: bolder;
  color: var(--primary-color);
}

.header .logo img {
  width: 3rem;
  color: var(--secondary-color);
  padding-right: 0.2rem;
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--primary-color);
}

.header .navbar a:hover {
  color: var(--secondary-color);
}

.header .icons {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  font-size: 2rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background-color: #eee;
  color: var(--primary-color);
  margin-right: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover {
  background: var(--secondary-color);
  color: #eee;
}

.header .icons .search-box {
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  justify-content: center;
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 50rem;
  height: 5rem;
  background: var(--white-color);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.header .search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

.header .search-form input {
  width: 100%;
  height: 100%;
  background: none;
  text-transform: none;
  border: none;
  font-size: 1.6rem;
  color: var(--primary-color);
  padding: 0 1.5rem;
}

.header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
}

.header .search-form label:hover {
  color: var(--secondary-color);
}

.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 35rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--white-color);
  text-align: center;
}

.header .login-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

.header .login-form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.header .login-form .box {
  width: 100%;
  margin: 0.7rem 0;
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--primary-color);
  text-transform: none;
}

.header .login-form p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: var(--tertiary-color);
}

.header .login-form p a {
  color: var(--secondary-color);
  text-decoration: underline;
}

.header .share {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: var(--primary-color);
  margin-left: 0.2rem;
  text-align: center;
}

.header .share .face:hover {
  color: #3b5998;
}

.header .share .twitter:hover {
  color: #00acee;
}

.header .share .insta:hover {
  color: #e4405f;
}

.header .share .yt:hover {
  color: #cd201f;
}

.header .share .discord:hover {
  color: #7289da;
}

.header-nav {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 900;
  padding: 2rem 25%;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
}
