.registration {
  padding-inline: 35%;
}

.registration .registration-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6% 0;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: 1.7rem;
  border-radius: 0.5rem;
  gap: 1rem;
  transition: transform 0.3s ease;
}

.registration .registration-link:hover {
  /* background-color: var(--primary-color); */
  transform: scale(1.1);
  box-shadow: var(--box-shadow);
}
